<!doctype html> 
<html>  
  <head>  
    <title><%=healthData.appName%></title> 
  </head>  
  <body>  
    <h1> add here your measurements and calculate</h1> 
    <form method="POST" action="/health/measurementsadded"> 
        height(cm)<input id="height" type="number" name="height" required/> <br>
        wrist(cm)<input id="wrist" type="number" name="wrist" required/> <br>
        
        <input type="submit" value="calculate" /> 
    </form> 
</body>  
</html>


