<!doctype html>
<html>
  <head>
    <title>Welcome to <%=healthData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=healthData.appName%></h1>
    <p><a href="about">About <%=shopData.shopName%></a></p>
    <p><a href="health/search">Search for previous measurements</a></p>
    <p><a href="user/register">Register with us</a></p>
    <p><a href="user/login">log in</a></p>
    <p><a href="health/addmeasurements">Add a new measurement</a></p>
    <p><a href="health/list">List of previous results</a></p>
  </body>
</html>
