<!doctype html>
<html>
  <head>
    <title>Search <%=healthData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search <%=healthData.appName%></h1>
    <form action="search_result" method="GET">
      <p>searching for measurements?</p>
      <input id="search-box" type="text" name="search_text">
      <input type="submit" value="Search" >
    </form>


  </body>
</html>