<DOCTYPE html> 
   <html>
    <body>
        <ul>
            
            <li><%= availableMeasurements.wrist %>   <%= availableMeasurements.height %>  <%= availableMeasurements.result %>   </li>

        </ul>
       
    
    </body>
</html>